.page.theme_light {}

:root.theme-light {
  --page-color: #FFF1F7;
  --page-image: url(../images/cover-image-light.png);
  --main-title-color: #FFC2E6;
  --main-title-shadow: #FF0070;
  --title-color-first: #353430;
  --title-color-second: #353430;
  --title-font-size: 18px;
  --title-weight: 700;
  --text-color: #353430;
  --text-font-size: 18px;
  --title-decor: #FF8DCB;
  --decor-color: #353430;
  --main-font: "IBM Plex Mono", Sans-Serif;
  --main-line-height: 23.46px;
}

.theme_light {
  --page-color: #FFF1F7;
  --page-image: url(../images/cover-image-light.png);
  --main-title-color: #FFC2E6;
  --main-title-shadow: #FF0070;
  --title-color-first: #353430;
  --title-color-second: #353430;
  --title-font-size: 18px;
  --title-weight: 700;
  --text-color: #353430;
  --text-font-size: 18px;
  --title-decor: #FF8DCB;
  --decor-color: #353430;
  --main-font: "IBM Plex Mono", Sans-Serif;
  --main-line-height: 23.46px;

  .header__rec-text,
  .header__rec-dot {
    display: none;
  }

}

@media (prefers-color-scheme: light) {

  :root {
    --page-color: #FFF1F7;
    --page-image: url(../images/cover-image-light.png);
    --main-title-color: #FFC2E6;
    --main-title-shadow: #FF0070;
    --title-color-first: #353430;
    --title-color-second: #353430;
    --title-font-size: 18px;
    --title-weight: 700;
    --text-color: #353430;
    --text-font-size: 18px;
    --title-decor: #FF8DCB;
    --decor-color: #353430;
    --main-font: "IBM Plex Mono", Sans-Serif;
    --main-line-height: 23.46px;
  }

  .header__rec-text,
  .header__rec-dot {
    display: none;
  }

}